@{
    
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>

<p>Student @ViewData["Student"]</p>

<address>
    <strong> More information:</strong> <a href="https://nataldelima.github.io">Natal de Lima</a>
</address>